In [5]:
print(bool(0.00000001))

True

In [2]:
def find_missing_element(N, A):
    expected_sum = N * (N + 1) // 2
    print(expected_sum)
    actual_sum = sum(A)
    print(actual_sum)
    missing_element = expected_sum - actual_sum
    return missing_element

# Example usage
N = 10
A = [6, 1, 2, 8, 3, 4, 7, 10, 5]
output = find_missing_element(N, A)
print(output)

34
55
34
21

In [8]:
110//2

55

In [9]:
37-55

-18

In [23]:
a=[10, 5, 10,4,9]
l=set(a)
print(l)
lst =list(l)
lst.sort()
lst[-2]

{9, 10, 4, 5}

9

In [24]:
10%3

1

In [25]:
-8//3

-3

In [26]:
"1"==1

False

In [29]:
 # E.g. 'input()/raw_input()' for input & 'print' for output
month=['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
a=int(input())
if (a>0 or a<=12):
       print(month[a])

 3

April

In [79]:
n=8
arr=[1,2,3,4,5,6,7,8]
count=n//2
for i in range(0,count,2):
    print(arr)
    print(i)
    print(arr[i])
    print(arr[i+1])
    print(arr[count+i],count)
    print("-----------------")
    rmv=0
    if i ==0:
        rmv= arr[count+i]
    else:
        rmv =arr[count+i-1]
    arr.remove(rmv)
    arr.insert(i+1,rmv)
    
arr

[1, 2, 3, 4, 5, 6, 7, 8]
0
1
2
5 4
-----------------
[1, 5, 2, 3, 4, 6, 7, 8]
2
2
3
7 4
-----------------

[1, 5, 2, 6, 3, 4, 7, 8]

In [69]:
arr=[1,2,3,4,5,6]
arr.remove(4)
arr.insert(1,4)
arr

[1, 4, 2, 3, 5, 6]

In [75]:
3+0-1

2

In [81]:
a=int(input())
b=int(input())
c=int(input())
if a+b+c==180:
    print(1)
else:
    print(0)

 23
 147
 10

1

In [84]:
A="9"
for i in range(int(A), int(A)*2):
    if i==str(i)[::-1]:
        print(i)
        break;

In [95]:
A="999"
for i in range(int(A)+1, int(A)*2):
    print(i,str(i) == str(i)[::-1])
    if str(i)==str(i)[::-1]:
        print(i)
        break;

1000 False
1001 True
1001