In [1]:
import copy
a=[1,[2,3],4,5]
b=a.copy()
b[1][0]=6
print(b)
a

[1, [6, 3], 4, 5]

[1, [6, 3], 4, 5]

In [2]:
li=[10,[20],30,40]
l1=copy.deepcopy(li)
l1[1][0]=50
print(li)
l1

[10, [20], 30, 40]

[10, [50], 30, 40]

In [13]:
nums = [1, 2, 3, 4, 5]
target_sum = 9
output = []

for item in nums:
    temp=[]
    val = target_sum-item
    print(val)
    if target_sum>
    if val in nums:
        temp.append(item)
        temp.append(val)
    if len(temp):
        output.append(temp)
output

8
7
6
5
4

[[4, 5], [5, 4]]

In [14]:
li=[1, 2, 3, 4, 2, 7, 8, 8, 9, 10, 1]
uniqueLi=[]
for item in li:
    if item not in uniqueLi:
        uniqueLi.append(item)
uniqueLi

[1, 2, 3, 4, 7, 8, 9, 10]

In [ ]:

Write an SQL query to find the average salary of employees in each department for employees hired in the year 2022. Include departments 
that have no employees hired in 2022, and display the department name along with the 
average salary.

CREATE TABLE employees (     employee_id INT PRIMARY KEY,     employee_name VARCHAR(100),     department_id INT,     
                        hire_date DATE,     salary DECIMAL(10, 2),   
                        FOREIGN KEY (department_id) REFERENCES departments(department_id) ); 

CREATE TABLE departments (     department_id INT PRIMARY KEY,     department_name VARCHAR(50) ); 

CREATE TABLE projects (     project_id INT PRIMARY KEY,     project_name VARCHAR(50),     
                       department_id INT,     start_date DATE,     end_date DATE,    
                       FOREIGN KEY (department_id) REFERENCES departments(department_id) );

select D.department_name, avg(salary) as average_salary from employee as E right join departments as D on E.department_id = D.department_id 
where hire_date=2022 group by E.department_id

In [ ]:
[16:48] Shivam Taneja
SELECT

    d.department_id,

    d.department_name,

    COALESCE(AVG(e.salary), 0) AS average_salary

FROM

    departments d

LEFT JOIN

    employees e ON d.department_id = e.department_id AND YEAR(e.hire_date) = 2022

GROUP BY

    d.department_id, d.department_name;

In [ ]:
select distinct(salary) from employee order by salary desc limit 1 offset 3

In [ ]:
 ./ copy 
CMD pip install -r requirements.txt
Expose port 8000
["python","manage.py","runserver"]