In [52]:
def check_palindrome(string):
    stack=[]
    flag=False
    for item in string:
        stack.append(item)
    for i in string:
        if i == stack.pop():
            flag=True
        else:
            print("sddddddddd",i,stack)
            flag=False
            break;
    return flag
            

string="110011"
result= check_palindrome(string)
if result:
    print("Palindrome")
else:
    print("not a palindrome")

Palindrome

In [54]:
def check_balance_bracket(lst):
    stack =[]
    matches = {"[":"]","{":"}","(":")"}
    for i in lst:
        stack.append(i)
    for i in stack:
        if matches[i]==stack.pop():
            continue
        else:
            return False
    return True

        
lst =["{","[","[","(",")","]","}"]
result = check_balance_bracket(lst)
if result:
    print("Balanced")
else:
    print("Not Balance")

Not Balance

In [ ]:
#stack implimentation
def stack_implementation():

In [55]:
a = list(range(10))
print(a[::-2])

[9, 7, 5, 3, 1]

In [57]:
li=[[1,1,1],[2,2,2],[3,3,3]]

In [59]:
for i in li:
    for j in i:
        print(j, end= " ")

1 1 1 2 2 2 3 3 3

In [60]:
a = [
    [10, 23, 39],
    [32, 43],
    [54, 65, 76],
]
print(a[1][2])

IndexError: list index out of range

In [61]:
sub = [[10,25,85],[51,12,33],[1,2,3]]

In [68]:
for i in sub:
#     print(i)
    for j in i:
        print(j, end=' ')
    print()

10 25 85
51 12 33
1 2 3

In [76]:
def take_list_as_input():
    li = list(map(int,input().split()))
    return li

a=[]
n_rows=int(input())
for i in range(3):
    a.append(take_list_as_input())
a

sum_list= []
for col_index in range(len(a[0])):
    val =0
    for row_index in range(len(a)):
        val+=a[row_index][col_index]

    sum_list.append(val)
sum_list

 3
 1 2 3
 3 4 5
 5 6 7

[9, 12, 15]

In [78]:
def take_list_as_input():
    li = list(map(int,input().split()))
    return li

a=[]
n_rows=int(input())
for i in range(3):
    a.append(take_list_as_input())


max_list= []
for row_index in range(len(a)):
    max_val =max(a[row_index])
    max_list.append(max_val)
max_list

 3
 1 5 4
 2 3 6
 7 9 1

[5, 6, 9]

In [81]:
li=[[1,2,3],[4,5,6],[7,8,9]]

# 00, 11, 22
sum=0
for i in range(len(li[0])):
    sum+=li[i][i]
sum
#     print(i,li[i])

15

In [85]:
mat=[[1,2,3],[4,5,6],[7,8,9]]
for row_index in range(len(mat)):
    if row_index%2==0:
        for col_index in range(len(mat[row_index])):
            print(mat[row_index][col_index],end=" ")
    else:
        for col_index in range(len(mat[row_index])-1,-1,-1):
            print(mat[row_index][col_index],end=" ")

1 2 3 6 5 4 7 8 9

In [87]:
def take_list_as_input():
    li = list(map(int,input().split()))
    return li

mat=[]
n=int(input())
for i in range(n):
    mat.append(take_list_as_input())

for col_index in range(n):
    if col_index%2==0:
        for row_index in range(len(mat)):
            print(mat[row_index][col_index],end=" ")
            
    else:
        for row_index in range(len(mat)-1,-1,-1):
            print(mat[row_index][col_index],end=" ")

 3
 1 2 3
 4 5 6
 7 8 9

1 4 7 8 5 2 3 6 9

In [88]:
t = (10, 20, 30, 40)
print(t[1:-1])

(20, 30)

In [92]:

k =input()
for char in k:
    print(ord(char))

 kusum

107
117
115
117
109

In [93]:
k=input()
if k==k[::-1]:
    print("Palindrome")
else:
    print("Not Palindrome")

 aka

Palindrome

In [95]:
t=(1150,'sea_level',909)
max(t)

TypeError: '>' not supported between instances of 'str' and 'int'

In [96]:
name_lst = ["Vijay", "Vickey"]
tup = ("Item_1", 0.5, name_lst)
name_lst.append("Vishal")
print(tup)

('Item_1', 0.5, ['Vijay', 'Vickey', 'Vishal'])

In [97]:
fruits = ("Orange")
type(fruits)

str

In [98]:
t[0]=50

TypeError: 'tuple' object does not support item assignment

In [106]:
tup =(10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)

print(tup[::2])
print(tup[1::2])
Even=[]
for i in range(len(tup)):
    if i%2==0:
        Odd.append(tup[i])
    else:
        Even.append(tup[i])

print(tuple(Odd), tuple(Even))

(10, 5, 10, 10, 5, 8)
(8, 2, 15, 8, 8, 2)
(10, 5, 10, 10, 5, 8, 10, 5, 10, 10, 5, 8, 10, 5, 10, 10, 5, 8) (8, 2, 15, 8, 8, 2)

In [111]:
tup =(10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
l1=[]
l2=[]
for item in tup:
    if item not in l1:
        l1.append(item)
        l2.append(tup.count(item))
for i in range(len(l1)):
    print(f'{l1[i]} : {l2[i]}')

[10, 8, 5, 2, 15]
10 : 3
8 : 4
5 : 2
2 : 2
15 : 1

In [112]:
list1=[2,12,45,6,8,32,17]
if(list1.where(6)):
     print('Element exists')

AttributeError: 'list' object has no attribute 'where'

In [114]:
input_string="testee"
input_string.split('e', 2)

['t', 'st', 'e']

In [118]:
s1="abc"
s2="xyz"
s3=s1
s1=s1.replace(s1[0:2],s2[0:2])
s2=s2.replace(s2[0:2],s3[0:2])
print(s1,s2)

xyc abz