In [14]:
str1 = "0P"
import re
newS = re.sub(r'[^0-9A-Za-z]','',str1)
print(newS)
print(newS[::-1])
if newS.lower() == (newS[::-1]).lower():
    print(True)
else:
    print(False)

0P
P0
False

In [37]:
s = "   fly me   to   the moon  "
l=s.split()
print(len(l[-1]))

4

In [36]:
s="Hello World"
l=s.split()
print(l[-1])
print(len(l[-1]))

World
5

In [70]:
nums =[1,1,2,2,2]
count=0
nums.sort(reverse=True)

def countNums(lst):
    print("1111111",lst)
    if lst[0]==lst[-1] & lst[1]==lst[-1]:
        return lst
    elif lst[0]>lst[1]:
        print("222222222",lst[0],lst[1])
        lst[0]=lst[1]
        print("33333333333",lst)
        countNums(lst)
    elif lst[0]==lst[1] & lst[1]>lst[2]:
        lst[1]=lst[2]
        countNums(lst)
        
countNums(nums)

1111111 [2, 2, 2, 1, 1]

In [71]:
int("42")

42

In [112]:
s ="  -42"
l=s.split()
print(l)
for i in s.split():
    print(i)
    print(i.isdigit())
    if i.isdigit():
        print(int(i))

['-42']
-42
False

In [111]:
s ="words and 987"

import re 
k=re.sub(r'[^0-9-+]','',s)
k

'987'

In [113]:
5**2

25

In [114]:
2**-2

0.25

In [117]:
def calculatePower(no,power):
    return no**power

calculatePower(5,-2)

0.04

In [118]:
def calculatePower(no,power):
    return no**power

calculatePower(5,-2)

0.04

In [119]:
_s=1

In [120]:
bool("0")

True

In [122]:
x=4
y=2.0
print(x+y)

6.0

In [123]:
x = 2.0
y = "2"
z = int(y)

In [124]:
print(x,y,z)

2.0 2 2

In [130]:
total_budget=float(input())
single_bill =int(input())
print(int(total_budget//
      single_bill))

 126.3
 5

25

In [131]:
a=[3, 2, 1, 56, 10000, 167]
a.sort()
a

[1, 2, 3, 56, 167, 10000]

In [137]:
a=[3, 2, 1, 56, 10000, 167]
n=6
def getMinMax( a, n):
    a.sort()
    print(a)
    return (a[0],a[n-1])

In [138]:
getMinMax(a,n)

[1, 2, 3, 56, 167, 10000]

(1, 10000)

In [139]:
n=5
array=[1,2,3,5]
for i in range(1,n+1):
            if i not in array:
                print(i)

4