In [2]:
import pandas as pd

In [19]:
dict1={"name":["Kusum","Umesh","Vivek","Santosh"],
      "age":[19,18,17,20]}
df = pd.DataFrame(dict1)
df

      name  age
0    Kusum   19
1    Umesh   18
2    Vivek   17
3  Santosh   20

In [23]:
def modify_name(x):
    if x == "Santosh":
        return "Sonam"
    else:
        return x

In [24]:
df["name"] = df["name"].apply(modify_name)

In [25]:
df.head()

    name  age
0  Kusum   19
1  Umesh   18
2  Vivek   17
3  Sonam   20