In [26]:
import pandas as pd

In [6]:
#find out net salary using(salary, bonus_percentage) field 
df = pd.read_csv("employee.csv")
df.head()

   emp_id emp_name  salary  bonus_percentage
0     101      xyz   25000               8.5
1     102      abc   34000               6.5

In [23]:
def salary(s,b):
    print(s,b)
    data=s*b/100

    return data+s

In [24]:
df['net_salary']=df.apply(lambda x:salary(x['salary'],x['bonus_percentage']),axis=1)
df

25000 8.5
34000 6.5

   emp_id emp_name  salary  bonus_percentage  net_salary
0     101      xyz   25000               8.5     27125.0
1     102      abc   34000               6.5     36210.0