In [12]:
a = [ 1, 2, 4, 5, 1, 6, 7, 8]
b = [2, 1, 6]

output = [1, 5, 1, 6, 8]

In [13]:
output = []
for k in a:
    for i in b:
        print(i)

2
1
6

In [ ]:
Table name: Employee

Column names: Name, Salary

Write a SQL/MYSQL query to get 5 highest salaries between 50000 & 100000

In [14]:
a = [ 1, 2, 4, 5, 1, 6, 7, 8]
b = [2, 1, 6]
output = [1, 5, 1, 6, 8]

b =a

In [15]:
b

[1, 2, 4, 5, 1, 6, 7, 8]

In [19]:
a = [ 1, 2, 4, 5, 1, 6, 7, 8]
b = [2, 1, 6]
output = [1, 5, 1, 6, 8]
data = []
for i in b:
    data.append(a[i])
data

[4, 2, 7]

In [ ]:
a = [ 1, 2, 4, 5, 1, 6, 7, 8]
b = [2, 1, 6]

output = [1, 5, 1, 6, 8]